
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">YouReallyThinkThatThisThingHasSupprt@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:aleksandartomic88@gmail.com">AleksandarTomic88@gmail.com</a>
</address>