body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.ui-autocomplete { position: absolute; cursor: default;z-index:30 !important;}  


/*ExploreWiki css*/
#InputName {
    position: relative;
    z-index: 10000;
}
.ui-autocomplete {
        z-index: 9999 !important;
}

#container {
    display: block; 
    position:relative;
    font-size:10px ;
    width:1000px;
    overflow: hidden; 
} 